*{
    margin: 0;
    padding: 0;
}
body,html{
    width: 100%;
    height: 100%;
}
.mobile-container{
    width: 50vh;
    height: 100vh;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto;
    overflow-x: hidden;
}
.title h1{
    color: rgb(232, 234, 233);
    text-align: center;
    font-size: 43px;
    padding-top: 30vh;
}
.sign{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 65px 10px 65px;
    font-size: 20px;
    background-color: #5F7ADB;
    color: rgb(232, 234, 233);
    border: 1px solid #a2b2ee;
    margin-top: 25vh;
    border-radius: 5%;
    cursor: pointer;
}
.register-sign{
    color: #5F7ADB;
    text-decoration: underline;
    text-align: center;
    margin-top: 15px;
    cursor: pointer;
}
.about-sign{
    color: #5F7ADB;
    position: absolute;
    bottom: 0;
    margin-left: calc(25vh - 29px);
    margin-bottom: 5px;
    cursor: pointer;
}

.popUp-about{
    width: 45vh;
    height: 150px;
    background-color: #a2b2ee;
    border-radius: 5px;
    position: fixed;
    top: 45vh;
    display: none;
}
.popUp-about h3{
    text-align: center;
    padding-top: 10px;
    color: rgb(232, 234, 233);
}
.popUp-about p{
    text-align: center;
    padding-top: 10px;
    color: rgb(232, 234, 233);
}
.button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    padding: 8px 30px 8px 30px;
    background-color: #5F7ADB;
    border: 1px solid rgb(232, 234, 233);
    color: rgb(232, 234, 233);
    cursor: pointer;
}
.login-form{
    width: 45vh;
    height: 210px;
    background-color: #a2b2ee;
    position: fixed;
    top: 45vh;
    display: none;
}
.login-title{
    text-align: center;
    padding-top: 5px;
    color: rgb(232, 234, 233);
}
.login-form span{
    color:white;
    display: block;
    margin:5px 5px 5px 20px;
}
.login-form input{
    width: 40vh;
    padding: 3px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #a2b2ee;
    border: none;
    border-bottom: 2px solid #5F7ADB;
    color: rgb(232, 234, 233);
}
.close p{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 20px;
    margin-top: 10px;
    font-size: 18px;
    color:rgb(232, 234, 233);
    border: 1px solid #5F7ADB;
    padding: 2px;
}
.show input{
    width: 20px;
    display: inline;
    margin-left: 15px;
    margin-top: 6px;
}
.show span{
    display: inline;
    font-size: 14px;
    margin: 0;
}
.registration-container{
    width: 45vh;
    height: 300px;
    background-color: #a2b2ee;
    color: white;
    position: fixed;
    top: 40vh;
    display: none;
}
.registration label{
    display: block;
    margin:5px 5px 5px 20px;
}
.registration input{
    width: 40vh;
    padding: 3px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #a2b2ee;
    border: none;
    border-bottom: 2px solid #5F7ADB;
    color: rgb(232, 234, 233);
}
.registration-title{
    text-align: center;
    padding-top: 5px;
}
.registration ul{
    color: black;
    margin-left: 35px;
}
.registration ul li{
    margin-top: 3px;
    font-size: 17px;
}
.title h1 span {
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.title-menu{
    color: rgb(232, 234, 233);
    text-align: center;
    padding-top: 15px;
}
.categories{
    width: 100%;
    height: 50px;
    margin-top: 25px;
}
.category-boxes{
    margin-left: calc(50% - 178px)
}
.boxes{
    width: 90px;
    height: 35px;
    background-color: #5F7ADB;
    text-align: center;
    display: inline-block;
    border: 1px solid #a2b2ee;
    border-radius: 5%;
    margin-left: 2px;
    margin-right: 2px;
    cursor: pointer;
}
.boxes p{
    margin-top: 8px;
    color: rgb(232, 234, 233);
}
.control-boxes{
    color: rgb(232, 234, 233);
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}
.search-container{
    width: 10%;
    height: 30px;
    margin-top: 10px;
    display: flex;
    margin-left: calc(50% - 175px);
    
}
.search-image img{
    max-width: 39px;
    max-height: 29px;
    margin-left: 5px;
}
.search-input input{
    height: 90%;
    font-size: 17px;
    width: 260px;
    margin-left: 15px;
    color: rgb(232, 234, 233);
    border: none;
    border-bottom:2px solid #a2b2ee;
    opacity: 0;
    background-color: black;
    transition: all 0.5s ease-in-out;
}
.items{
    width: 150px;
    height: 170px;
    margin-top: 10px;
}
.items img{
    width: 70px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 5px;
}
.item-informations{
    text-align: center;
    color: rgb(232, 234, 233);
}
.item-details{
    display: flex;
}
.item-details p{
    color: rgb(232, 234, 233);
    font-size: 22px;
    font-weight: bold;
    margin-left: 10px;
}
.item-details input{
    width: 35px;
    margin-left: 60px;
    background-color: black;
    border: none;
    border-bottom: 1px solid #5F7ADB;
    color: rgb(232, 234, 233);
}
.menu-container{
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}
.item-button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #5F7ADB;
    color: white;
    border: none;
    border: 1px solid rgb(232, 234, 233);
    width: 70px;
    padding: 1px;
    margin-top: 5px;
    border-radius: 2px;
}
hr{
    margin-top: 20px;
    opacity: 0;
}
.cart-container{
    color: rgb(232, 234, 233);
    font-size: 18px;
}
.desk-title h2{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
.desk-information{
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
}
.desk-information p{
    font-size: 22px;
    margin-left: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
    width: 60%;
}
.desk-information button{
    padding: 2px;
    width: 30%;
}
#remove-item{
    background-color: #a2b2ee;
    width: 80px;
}
.order{
    width: 85%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2%;
    padding: 1px;
    margin-top: 10px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.desk-container{
    color: rgb(232, 234, 233);
    margin-top: 15px;
}
.desk-container p{
    text-align: center;
    font-size: 20px;
}
.desk-container input{
    font-size: 17px;
    width: 40px;
    color: rgb(232, 234, 233);
    border: none;
    border-bottom:2px solid #a2b2ee;
    background-color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.order-desk{
    margin-top: 10px;
    background-color: #5f7adbef;
    border-radius: 5px;
}
.total-price p{
    text-align: right;
    font-size: 22px;
    margin-top: 10px;
    margin-right: 10px;
}
.desk-commands{
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
}
.desk-commands p{
    font-size: 22px;
    margin-left: calc(25% - 47px);
}
.desk-commands span{
    font-size: 22px;
}
#payButton{
    background-color: #a2b2ee;
    width: 40%;
}
@media only screen and (max-width: 600px) {
    .mobile-container{
        width: 100%;
    }
    .about-sign{
        margin-left: calc(50% - 29px);
    }
    .popUp-about{
        width: 95%;
    }
    .order{
        width: 80%;
    }
  }